.wrapper {
    height: 600px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: white;
    box-shadow: rgba(133, 132, 132, 0.24) 0px 3px 8px;
    background: linear-gradient(45deg, #4f5152, #313535);

}